{% extends "layout.html" %}

{% block content %}

<!--- Search bar -->
<div class="topnav">
    <input class="search" type="search" placeholder="Search">
</div>

<!--- Displays results of query -->
<div class="result">
    <h1>Most Popular</h1>
    <div class="output">
        <p>test</p>
    </div>
</div>

<!-- Selection buttons -->
<div class="row">
    <div class="colButton">
          <button class="selButton">Artists</button>
    </div>
    <div class="colButton">
          <button class="selButton">Songs</button>
     </div>
    <div class="colButton">
          <button class="selButton">Albums</button>
     </div>
    <div class="colButton">
          <button class="selButton">Genres</button>
     </div>
</div>

{% endblock %}
